<div class="container-fluid border-top bg-white" id="footer">
	<footer>
		<div class="text-center text-muted">Copyright &copy; 2025 NTREX. All Rights Reserved</div>
	</footer>
</div>

<!-- backdrop & spinner -->
<div id="loading-backdrop">
	<div class="text-center loading">
		<div class="spinner-border text-primary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
</div>

<div class="modal fade" id="common-modal">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Modal title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Modal body text goes here.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>		
</div>