<!-- 
 사이드바 UI - Stock 컨트롤러용
 @author yds@ntrex on 2023.02.16
 -->
<!-- 왼쪽 메뉴 리스트 [시작] -->
<div class="col-lg-2 col-sg-1 position-relative h-auto pe-1 leftsidebar" id="LeftSideBar">
	<ul class="nav fixed-top position-sticky d-block">
		<li class="nav-item">
			<button class="btn w-100 text-start" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
				<span data-bs-toggle="tooltip" data-bs-placement="right" title="사용자">
					<i class="fa-solid fa-user-gear"></i>
				</span>
				<span class='sidebar_text'>사용자</span>
				<span class="sidebar_icon_right"><i class="fa-solid fa-angle-up fold"></i></span>
			</button>
			<div class="collapse ms-3 show" id="home-collapse">
				<ul class="nav flex-column pb-1 small">
					<li class="nav-item">
						<button class="btn btn-sm w-100 text-start" id="M_MemberList" onclick="location.href='/Member/MemberList';">
							<span data-bs-toggle="tooltip" data-bs-placement="right" title="사용자 목록">
								<i class="fa-solid fa-people-group"></i>
							</span>
							<span class='sidebar_text'>사용자 목록</span>
						</button>
					</li>
					<li class="nav-item">
						<button class="btn btn-sm w-100 text-start" id="M_MemberInfo" onclick="location.href='/Member/MemberInfo';">
							<span data-bs-toggle="tooltip" data-bs-placement="right" title="사용자 정보">
								<i class="fa-solid fa-people-group"></i>
							</span>
							<span class='sidebar_text'>사용자 정보</span>
						</button>
					</li>
				</ul>
			</div>
		</li>
	</ul>
	
</div>
<!-- 왼쪽 메뉴 리스트 [종료] -->

<!-- 접기/펼치기 버튼 -->
<button class="btn btn-sm btn-light fixed-top" type="button" id="LeftSideBarBtn"></button>

<!-- Top 버튼 -->
<button class="btn btn-sm btn-light fixed-bottom" type="button" id="TopMoveBtn"></button>
	